root/Service References/Service/TimeCard.Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TimeCard.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TimeCard.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EmployeeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeCards" nillable="true" type="tns:ArrayOfTimeCardDTO" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeDTO" nillable="true" type="tns:EmployeeDTO" />
  <xs:complexType name="ArrayOfTimeCardDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TimeCardDTO" nillable="true" type="tns:TimeCardDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTimeCardDTO" nillable="true" type="tns:ArrayOfTimeCardDTO" />
  <xs:complexType name="TimeCardDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmployeeId" type="xs:int" />
      <xs:element minOccurs="0" name="Entries" nillable="true" type="tns:ArrayOfTimeEntryDTO" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeCardDTO" nillable="true" type="tns:TimeCardDTO" />
  <xs:complexType name="ArrayOfTimeEntryDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TimeEntryDTO" nillable="true" type="tns:TimeEntryDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTimeEntryDTO" nillable="true" type="tns:ArrayOfTimeEntryDTO" />
  <xs:complexType name="TimeEntryDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Task" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeEntryDTO" nillable="true" type="tns:TimeEntryDTO" />
  <xs:complexType name="ArrayOfEmployeeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmployeeDTO" nillable="true" type="tns:EmployeeDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployeeDTO" nillable="true" type="tns:ArrayOfEmployeeDTO" />
</xs:schema>